@font-face {
  font-family: "Abdoullah Ashgar EL-kharef";
  src: url("/fonts/Abdoullah Ashgar EL-kharef.ttf");
}
:root {
  scroll-behavior: smooth;
  font-family: "Mulish", "Abdoullah Ashgar EL-kharef", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(/images/background.png) center/cover;
    opacity: 0.6;
  }
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
